.\!whitespace-pre,  .whitespace-pre\! {
    white-space: pre-wrap !important;
    word-break: break-all!important;
}
.sticky{
  display: none!important;
}

.overflow-y-auto {
    overflow-y: initial;
}

@layer utilities {
  .\!whitespace-pre,  .whitespace-pre\! {
      white-space: pre-wrap !important;
      word-break: break-all!important;
  }
}
